@mixin button-variant($background-color) {
  background: $background-color;
  border-color: $background-color;
  &:hover {
    background: lighten($background-color, 8%);
    border-color: lighten($background-color, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: lighten($background-color, 25%);
    border-color: lighten($background-color, 25%);
  }
}
