@use 'sass:color';

@mixin button-variant($background-color) {
  background: $background-color;
  border-color: $background-color;
  &:hover {
    background: color.adjust($background-color, $lightness: 8%);
    border-color: color.adjust($background-color, $lightness: 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: color.adjust($background-color, $lightness: 15%);
    border-color: color.adjust($background-color, $lightness: 15%);
  }
}
