// Colors
$color-body: rgba(255, 255, 255, 0.87);
$color-body-bg: #0d0631;
$color-primary: #fc916e;
$color-secondary: #6c757d;
$color-success: #198754;
$color-menu-item: #0d0630;
$color-menu-item-hover: #fdb99d;
$border-color-translucent: rgba(255, 255, 255, 0.15);
