@use '../../styles/_variables.scss';

:host {
  display: block;
  padding: 0.25rem 1rem;
  cursor: pointer;
  text-align: left;
  text-wrap: nowrap;
}

:host(:hover) {
  background-color: variables.$color-menu-item-hover;
  color: variables.$color-menu-item;
}

:host([active]) {
  background-color: variables.$color-primary;
  color: variables.$color-menu-item;
}
